.contenedor-principal-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #ffffff, #e1bafd);
  font-family: "Poppins", sans-serif;
}

.registro-contenedor {
  display: flex;
  width: 85%;
  height: 90%;
}

.registro-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 65%;
  border-radius: 0 20px 20px 0;
}

.registro-formulario h2 {
  font-weight: 800;
  font-size: 1.6rem;
  margin: 5px;
}

.registro-formulario p {
  font-size: 1rem;
}

.registro-formulario form {
  display: flex;
  flex-direction: column;
}

.formulario-registro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.formulario-registro input {
  font-size: 1rem;
  outline: none;
  border-radius: 16px;
  border: none;
  background-color: #f0edff;
  width: 22vw;
}

.registro-input {
  display: flex;
  align-items: center;
  background-color: #f0edff;
  border-radius: 16px;
  padding: 15px 20px;
  margin: 10px;
  width: 20vw;
  gap: 10px;
}

.boton-registro {
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(68deg, #ba61fa, #5e059e);
  width: 10vw;
  align-self: center;
  padding: 15px 0;
  margin: 10px;
  color: #ffffff;
}

/*--------------------Estilos de ilustración-----------------*/
.registro-ilustracion {
  background-color: purple;
  width: 35%;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(41deg, #5e059d, #ba61fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro-ilustracion img {
  width: 70%;
  height: auto;
}
